.concertMasonry {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    gap: 1.5rem;
    user-select: none;
}

.concertColumn {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    min-width: 0;
}

@media (max-width: 1050px) {
    .concertMasonry {
        flex-direction: column;
    }
}
