.concertMasonry {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    gap: 1.5rem;
    user-select: none;
}

.concertColumn {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    min-width: 0;
}

.notFound {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    width: 100%;
    text-align: center;
    font-size: large;
}

@media (max-width: 1050px) {
    .concertMasonry {
        flex-direction: column;
    }
}
